# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
out
dist
build
.turbo

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Misc
*.pem
.vercel

# Temporary directories
.tmp.drivedownload/
.tmp.driveupload/
